
.social{
    position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: 0px; /* Establecemos la barra en la izquierda */
    top: 200px; /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

    .social ul{
        list-style: none;
    }

    .social ul li a{
        display: inline-block;
        color:#fff;
        left: 0px; 
        background: #000;
        padding: 15px 20px;
        text-decoration: none;
        -webkit-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
    }

    .social ul li .icon-facebook2{background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
    .social ul li .icon-whatsapp{background: #4dc247;}
    .social ul li .icon-mail4{background: #db4a39;}
    .social ul li .icon-instagram{background: #C13584}

    .social ul li a:hover{
        left: 0px; 
        background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
        padding: 15px 40px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
    }



/*contenedores*/


    .socia ul{
        list-style: none;
        left: 0px; 
    
    }
     .socia ul li{
        
       float: left;
       left: 0px; 
    }

    .socia ul li a{
        left: 0px; 
        display: inline-block;
        color:#fff;
        background: #000;
        padding: 15px 20px;
        text-decoration: none;
        -webkit-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
    }

    .socia ul li .icon-facebook2{background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
    .socia ul li .icon-whatsapp{background: #4dc247;}
    .socia ul li .icon-mail4{background: #db4a39;}

    .socia ul li a:hover{
        left: 0px; 
        background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
        padding: 15px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
    }
.ir-arrib
{
    display:none;
    padding:20px;
    background:#024959;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:10px;

}


